<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyWalk - Summary ATC</title>

    <link rel="stylesheet" href="style_template.css" media="all">
    <!--Set the zoom level to 50% to make sure printing looks nice-->
    <style type="text/css" media="print">
        body {zoom: 48%;}
    </style>

</head>
</head>
<body>


    <div class="container">
        <h1>Summary: {{ DEPARTURE_NAME|capitalize }} ({{ DEPARTURE_ICAO }}) - {{ ARRIVAL_NAME|capitalize }} ({{ ARRIVAL_ICAO }})</h1>

        <div class="grid" style="grid-template-columns: repeat({{ 1 }}, 1fr);">
            <div class="taxi">
                <div class="pilot">
                    <p class="title">ATIS - {{ ATC_ATIS_FREQ_DEP }}</p>

                        <div class="pilot_general" style="display: grid; grid-template-columns: repeat(4, 1fr); border: 0px solid grey; text-align: center;">
                            <p class="subtitle">INFORMATION</p>
                            <p class="subtitle">QNH</p>
                            <p class="subtitle">RUNWAY</p>
                            <p class="subtitle">Wind Direction</p>
                        </div>
                        <div class="pilot_general" style="display: grid; grid-template-columns: repeat(4, 1fr); border: 0px solid grey; text-align: center;">
                            <div class="info-box" style="border-right: 1px solid grey;"><p><br></p></div>
                            <div class="info-box" style="border-right: 1px solid grey;"> <p><br></p> </div>
                            <div class="info-box" style="border-right: 1px solid grey;"> <p><br></p> </div>
                            <div class="info-box" style="border: 0px solid grey;"><p><br></p> </div>
                        </div>

                </div>
            </div>
            <br>
        </div>


        <div class="grid" style="grid-template-columns: repeat({{ GRID_COLUMNS }}, 1fr);">

            <div class="startup">
                <div class="pilot">
                    <p class="title_departure">1. STARTUP - {{ DEPARTURE_NAME }} {{ DELIVERY_OR_RADIO }} - {{ ATC_GROUND }}</p>

                    <script>
                    if ({{ CTR_REGION_BOOL_DEPARTURE }}) {
                        document.write(`
                        
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general">{{ DEPARTURE_NAME }} {{ DELIVERY_OR_RADIO }}, <strong class="pilot_text">{{ CALLSIGN }}</strong>.</p>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="tower_text"><strong>TOWER:</strong></p>
                            <p class="tower_text">{{ CALLSIGN_SHORT }}, Go Ahead</p>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general"><strong class="pilot_text">{{ AIRCRAFT_TYPE }}</strong>, {{ DEPARTURE_POSITION }}, <br>{{ FLIGHT_RULES }} TO <strong class="pilot_text">{{ ARRIVAL_NAME }}</strong>,

                            <br><strong class="pilot_text">{{ DEPARTURE_ROUTE_NAME }}</strong> DEPARTURE,

                            <br><br> INFORMATION <strong class="pilot_text">[ . . . . . . . . . ]</strong> RECEIVED
                            <br><br> REQUEST STARTUP, <strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong></p>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="tower_text"><strong>TOWER:</strong></p>
                            <p class="tower_text">{{ CALLSIGN_SHORT }}, Startup approved, QNH [ . . . ], Runway {{ DEPARTURE_RUNWAY }}</p>
                        </div>

                        <div class="pilot_general" style="display: grid; grid-template-columns: repeat(3, 1fr); border: 0px solid grey; text-align: center;">
                            <p class="subtitle">STARTUP</p>
                            <p class="subtitle">QNH</p>
                            <p class="subtitle">RUNWAY</p>
                        </div>
                        <div class="pilot_general" style="display: grid; grid-template-columns: repeat(3, 1fr); border: 0px solid grey; text-align: center; column-gap: 2px;">
                            <div class="info-box" style="border-right: 1px solid grey;"><p><strong class="pilot_text"> APPROVED </strong></p></div>
                            <div class="info-box" style="border-right: 1px solid grey;"> <p> </p> </div>
                            <div class="info-box" style="border: 0px solid grey;"><p> <strong class="pilot_text">{{ DEPARTURE_RUNWAY }}</strong> </p> </div>
                        </div>
                        <hr>
    
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="tower_text"><strong>TOWER:</strong></p>
                            <p class="tower_text">For taxi, contact Tower at {{ ATC_TOWER }}</p>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general">FOR TAXI CONTACT <strong class="pilot_text">{{ ATC_TOWER }}</strong></p>
                        </div>
                       `);

                    } else {
                         document.write(`
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general"><strong class="pilot_text">CHECK SURROUNDINGS AND MAKE SURE OTHER PILOTS UNDERSTAND YOUR ACTIONS.</strong> </p>
                        </div>
                        `);
                        }
                    </script>


                </div>
            </div>

            <div class="taxi">
                <div class="pilot">
                    <p class="title_departure">2. TAXI - {{ ATC_TOWER }}</p>

                    <script>
                    if ({{ CTR_REGION_BOOL_DEPARTURE }}) {
                        document.write(`
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general">{{ DEPARTURE_NAME }} TOWER, <strong class="pilot_text">{{ CALLSIGN }}</strong><br><strong class="pilot_text">{{ DEPARTURE_POSITION }}</strong>, request TAXI</p>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="tower_text"><strong>TOWER:</strong></p>
                            <p class="tower_text">{{ CALLSIGN_SHORT }}, TAXI to runway [ . . . ] Intersection [ . . . ]</p>
                        </div>
                        <div class="pilot_general" style="display: grid; grid-template-columns: repeat(3, 1fr); border: 0px solid grey; text-align: center;">
                            <p class="subtitle">TAXI TO RUNWAY</p>
                            <p class="subtitle">INTERSECTION</p>
                            <p class="subtitle"></p>
                        </div>
                        <div class="pilot_general" style="display: grid; grid-template-columns: repeat(3, 1fr); border: 0px solid grey; text-align: center;">
                            <div class="info-box" style="border-right: 1px solid grey;"><p></p></div>
                            <div class="info-box" style="border-right: 1px solid grey;"> <p></p> </div>
                            <div class="info-box" style="border: 0px solid grey;"><p><strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong></p> </div>
                        </div>
                        `);
                    } else {
                         document.write(`
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general"><strong class="pilot_text">{{ CALLSIGN }}</strong> is TAXING TO RUNWAY <strong class="pilot_text">{{ DEPARTURE_RUNWAY }}</strong> </p>
                        </div>
                        `);
                        }
                    </script>

                </div>
            </div>

                    
            <div class="departure">
                <div class="pilot">
                    <p class="title_departure">3. READY FOR DEPARTURE</p>

                    <script>
                    if ({{ CTR_REGION_BOOL_DEPARTURE }}) {
                        document.write(`
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general"><strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong> AT INTERSECTION <strong class="pilot_text">[ . . . ]</strong> RUNWAY <strong class="pilot_text">{{ DEPARTURE_RUNWAY }}</strong>,<br> READY FOR DEPARTURE</p>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="tower_text"><strong>TOWER:</strong></p>
                            <p class="tower_text">{{ CALLSIGN_SHORT }}, Roger, Line up and wait, Runway {{ DEPARTURE_RUNWAY }}</p>
                        </div>
    
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general">LINE UP and WAIT, RUNWAY <strong class="pilot_text">{{ DEPARTURE_RUNWAY }}, {{ CALLSIGN_SHORT }}</strong></p>
                        </div>
    
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="tower_text"><strong>TOWER:</strong></p>
                            <p class="tower_text">{{ CALLSIGN_SHORT }}, Cleared for take-off</p>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general">CLEARED for TAKEOFF, <strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong></p>
                        </div>
                        `);
                    } else {
                        document.write(`
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general"><strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong> is at RUNWAY <strong class="pilot_text">{{ DEPARTURE_RUNWAY }}</strong>, LINING UP FOR DEPARTURE.</p>
                        </div>
                        `);
                        }
                    </script>

                </div>
            </div>

            <div class="leaving-ctr">
                <div class="pilot">
                    <p class="title_departure">4. LEAVING CTR</p>

                    <script>
                    if ({{ CTR_REGION_BOOL_DEPARTURE }}) {
                        document.write(`
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general"><strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong> is at (maintaining/reaching) <strong class="pilot_text">{{ DEPARTURE_ROUTE_ALTITUDE }} feet</strong></p>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="tower_text"><strong>TOWER:</strong></p>
                            <p class="tower_text">Roger</p>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general"><strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong> over <strong class="pilot_text">{{ DEPARTURE_ROUTE_NAME }}</strong></p>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="tower_text"><strong>TOWER:</strong></p>
                            <p class="tower_text">Radio frequency change approved, Bye bye</p>
                        </div>
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general">Radio frequency change approved, <strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong></p>
                        </div>
                        `);
                    } else {
                        document.write(`
                        <div style="display: grid; grid-template-columns: 1fr 4fr;">
                            <p class="pilot_general"><strong>PILOT:</strong></p>
                            <p class="pilot_general"><strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong> is at <strong class="pilot_text">{{ DEPARTURE_ROUTE_ALTITUDE }} feet </strong> and LEAVING THE CIRCUIT.</p>
                        </div>
                        `);
                        }
                    </script>

                </div>
            </div>




            <div class="startup">
                <div class="pilot">
                    <p class="title" style="background-color: #ec7d15;">5. ENROUTE - {{ FIC_NAME }} - {{ FIC_FREQUENCY }}</p>

                    <div style="display: grid; grid-template-columns: 1fr 4fr;">
                        <p class="pilot_general"><strong>PILOT:</strong></p>
                        <p class="pilot_general">{{ FIC_NAME }}, <strong class="pilot_text">{{ CALLSIGN }}</strong>,<br> <strong class="pilot_text"> {{ OVERHEAD }}.</strong> <br> </p>
                    </div>
                    <div style="display: grid; grid-template-columns: 1fr 4fr;">
                        <p class="tower_text"><strong>TOWER:</strong></p>
                        <p class="tower_text">{{ CALLSIGN_SHORT }}, {{ FIC_NAME }}, Go Ahead.</p>
                    </div>
                    <div style="display: grid; grid-template-columns: 1fr 4fr;">
                        <p class="pilot_general"><strong>PILOT:</strong></p>
                        <p class="pilot_general"><strong class="pilot_text">{{ AIRCRAFT_TYPE }}, {{ FLIGHT_RULES }}, </strong></p>
                    </div>
                    <div class="pilot_general" style="display: grid; grid-template-columns: repeat(3, 1fr); border: 0px solid grey; text-align: center;">
                        <p class="subtitle">FROM</p>
                        <p class="subtitle">TO</p>
                        <p class="subtitle">AT</p>
                    </div>
                    <div class="pilot_general" style="display: grid; grid-template-columns: repeat(3, 1fr); border: 0px solid grey; text-align: center; column-gap: 2px;">
                        <div class="info-box" style="border-right: 1px solid grey;"><p> <strong class="pilot_text"> {{ DEPARTURE_NAME }} </strong></p></div>
                        <div class="info-box" style="border-right: 1px solid grey;"> <p> <strong class="pilot_text"> {{ ARRIVAL_NAME }} </strong></p> </div>
                        <div class="info-box" style="border: 0px solid grey;"><p> <strong class="pilot_text"> {{ DEPARTURE_ROUTE_ALTITUDE }} feet,<br><br>{{ POB }} POB,</strong><br><br><strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong></p></div>
                    </div>
                    <div style="display: grid; grid-template-columns: 1fr 4fr;">
                        <p class="pilot_general"><strong>PILOT :</strong></p>
                        <p class="pilot_general"><strong class="pilot_text">STANDING BY</strong> FOR TRAFFIC INFORMATION.</p>
                    </div>

                    <div class="pilot_general" style="display: grid; grid-template-columns: repeat(3, 1fr); border: 0px solid grey; text-align: center;">
                        <p class="subtitle">QNH</p>
                        <p class="subtitle">SQUAWK</p>
                        <p class="subtitle"> </p>
                    </div>
                    <div class="pilot_general" style="display: grid; grid-template-columns: repeat(3, 1fr); border: 0px solid grey; text-align: center; column-gap: 2px;">
                        <div class="info-box" style="border-right: 1px solid grey;"><p> </p></div>
                        <div class="info-box" style="border-right: 1px solid grey;"><p> <strong class="pilot_text">{{ FIC_SQUAWK }}</strong> </p></div>
                        <div class="info-box" style="border: 0px solid grey;"><p> <strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong> </p></div>
                    </div>

                </div>
            </div>


            <div class="startup">
                <div class="pilot">
                    <p class="title" style="background-color: #258f45;">6. ARRIVAL - {{ ARRIVAL_NAME }} - {{ ATC_TOWER_ARR }}</p>

                    <div style="display: grid; grid-template-columns: 1fr 4fr;">
                        <p class="pilot_general"><strong>PILOT:</strong></p>
                        <p class="pilot_general">{{ ARRIVAL_NAME }} {{ ATC_TOWER_NAME }}, <strong class="pilot_text">{{ CALLSIGN }}</strong>.</p>
                    </div>
                    <div style="display: grid; grid-template-columns: 1fr 4fr;">
                        <p class="tower_text"><strong>TOWER:</strong></p>
                        <p class="tower_text">{{ CALLSIGN_SHORT }}, Go Ahead</p>
                    </div>
                    <div style="display: grid; grid-template-columns: 1fr 4fr;">
                        <p class="pilot_general"><strong>PILOT:</strong></p>
                        <p class="pilot_general"><strong class="pilot_text">{{ AIRCRAFT_TYPE }}</strong>, APPROACHING <strong class="pilot_text">{{ ARRIVAL_ROUTE_NAME }}</strong>
                        <br>AT <strong class="pilot_text">{{ ARRIVAL_ROUTE_ALTITUDE }} feet,</strong> {{ FLIGHT_RULES }}, <strong class="pilot_text">{{ POB }} POB</strong>, 
                        <!--<br><br>INFORMATION <strong class="pilot_text"> [ .   .   .   .   .   . ]</strong> RECEIVED,-->
                        {{ TEXT_INFORMATION_RECEIVED }}
                        <br><br>FOR LANDING, {{ REQUEST_INFORMATION }}, <strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong></p>
                    </div>

                    <div class="pilot_general" style="display: grid; grid-template-columns: repeat(3, 1fr); border: 0px solid grey; text-align: center;">
                        <p class="subtitle">ARRIVAL</p>
                        <p class="subtitle">RUNWAY</p>
                        <p class="subtitle">QNH</p>
                    </div>
                    <div class="pilot_general" style="display: grid; grid-template-columns: repeat(3, 1fr); border: 0px solid grey; text-align: center; column-gap: 2px;">
                        <div class="info-box" style="border-right: 1px solid grey;"><p>   </p></div>
                        <div class="info-box" style="border-right: 1px solid grey;"><p> <strong class="pilot_text">{{ ARRIVAL_RUNWAY }}</strong> </p></div>
                        <div class="info-box" style="border: 0px solid grey;"><p>  </p> </div>
                    </div>

                    <div style="display: grid; repeat(3, 1fr);text-align: center;">
                        <br><br><p class="pilot_general"> <strong class="pilot_text">{{ CALLSIGN_SHORT }}</strong> </p>
                    </div>

                </div>
            </div>
            
            
            <div class="radio-check">
                <div class="frequencies">
                    <p class="title_freq">FREQUENCIES</p>
                    
                    {{ ATC_FREQUENCIES }}

                </div>
            </div>


            <div class="radio-check">
                <div class="frequencies">
                    <p class="title_freq">SQUAWK</p>

                    <div style="display: grid; grid-template-columns: 2fr 4fr;">
                        <p class="pilot_general"><strong>VFR</strong></p>
                        <p class="pilot_general">7000</p>
                    </div>

                    <div style="display: grid; grid-template-columns: 2fr 4fr;">
                        <p class="pilot_general"><strong>HIJACK</strong></p>
                        <p class="pilot_general">7500</p>
                    </div>

                    <div style="display: grid; grid-template-columns: 2fr 4fr;">
                        <p class="pilot_general"><strong>NO RADIO</strong></p>
                        <p class="pilot_general">7600</p>
                    </div>

                    <div style="display: grid; grid-template-columns: 2fr 4fr;">
                        <p class="pilot_general"><strong>MAYDAY</strong></p>
                        <p class="pilot_general">7700</p>
                    </div>

                </div>
            </div>


        
        </div>
    <br><br>
    <button onclick="window.print();">Print this page</button>
    <br><br>

</div>


<hr>
<center>
	<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
	<div data-ea-publisher="erdogantgithubio" data-ea-type="image" data-ea-style="stickybox"></div>
</center>
<hr>

    
</body>
</html>
